body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

button {
  margin: 5px;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

canvas {
  display: block;
}